.publisherStat >span:after {
}

.publisherStat .countSubscriber:after {
	content:" subscribers";
}

.publisherStat .countTalken:after {
	content:" posts";
}

.publisherStat .countResponse:after {
	content:" replies";
}

